body {
    background:rgb(255, 255, 255);
    height: 100000vh;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  
  .column {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 30px;
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
    padding: 8px;
  }
  
  input {
    width: 50%;
    text-align: left;
  }
  
  #mapid{height:480px};
  
  .list-header{
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  .list-item{
    border-radius: 4px;
    color: rgba(25,25,25,09);
    background: rgb(42, 201, 161);
    padding:5px;
  }
  
  .cases li{
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 29px;
    text-align: left;
    width: 90%;
  }